.form{
   height: 100vh; 
}
.cont{
    text-align: center;
}
.home{
     background-image: url('img/1.jpeg');
     background-size:cover;
     height:auto;
     margin:0px;
     padding-top: 0px;
    color: white;
  

}
.home0{
     background-color: rgb(25, 24, 24);
     z-index: 1;
     height:100%;
     opacity:0.6;;
}
.foot{
   background-color: green;
   height: auto;
   color: white;
}
.foo-div{
     background-position: center;
}



@media only screen and (min-width: 1400px){
     .form-row{
          margin-left: 430px;
     }
}